a, p, div, img, input, body, head, title {
    padding: 0;
    margin: 0;
}

a{
    color: black;
}

body {
    font-size: 13px;

    /*背景图片*/
    background: url("../images/bg.jpg");
}

/*头部*/
#header {
    background: rgba(0, 0, 0, 0.2);
    text-align: right;
    margin: 0px 0px 30px 0;
    height: 38px;
    line-height: 38px;
}

#header a {
    margin-right: 7px;
    font-weight: bolder;
    font-size: 15px;
    color: white;
}

#header a.more-Product {
    background: #3385ff;
    color: white;
    display: inline-block;
    height: 28px;
    width: 80px;
    text-align: center;
    line-height: 28px;
    text-decoration: none;
    font-weight: normal;
}


/*主要内容*/
#content{
    /*background: green;*/
}

#content .logo {
    text-align: center;
}

#content .logo img{
    width: 270px;
    height: 129px;
}

#content .search {
    /*background: blue;*/
    width: 600px;
    height: 33px;
    /*块级元素居中*/
    margin: 0 auto;
}

#content .search input {
    width: 500px;
    height: 33px;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid #ddd;
}


#content .search a {
    background: #3385ff;
    color: white;
    display: inline-block;
    height: 33px;
    width: 100px;
    text-align: center;
    line-height: 33px;
    text-decoration: none;
    font-weight: normal;

    float: right;
}

/*伪类 获取焦点时 去除边框蓝色*/
#content .search input:focus {
    outline: none;
    border: 1px solid #3385ff;
}

#content .dom {
    margin-top: 30px;
    text-align: center;
}

#content .dom img {
    width: 150px;
    margin: 5px;
}

#content .dom img:hover {
    /*设置不透明度*/
    opacity: 0.7;
}

/*尾部*/
#foot{
    /*background: yellow;*/
    margin-top: 120px;
    text-align: center;
}

#foot p {
    margin-top: 10px;
}

#foot p a {
    color: blue;
}

#foot p.foot-top a {
    margin: 0px 5px;
}
